.banner {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-grey-dark-1);
  /* background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)); */
}

.banner-paragraph {
  font-weight: 300;
  letter-spacing: .3rem;
}

.meetups, .meetup-details {
  flex: 0 0 65%;
}

.meetup__link {
  text-decoration: none;
  color: inherit;
}

.meetup {
  display: flex;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light-5);
  width: 100%;
  margin: 0 auto;
}

.meetup__time {
  width: 10rem;
  padding-top: 0.5rem;
  font-size: var(--default-font-size);
  background-color: var(--color-grey-light-6);
  text-align: center;
}

.meetup__details {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.meetup__posted {
  display: flex;
  justify-content: space-between;
  color: var(--color-grey-dark-2);
  margin-bottom: 0.4rem;
}

.meetup__posted-name {
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}

.meetup__posted-time {
  margin-left: 3rem;
}

.meetup__posted-going {
  align-items: center;
}

.meetup__opinion {
  color: var(--color-grey-dark-2);
  display: flex;
}

.meetup__opinion > * {
  display: flex;
  align-items: center;
}

.meetup__opinion > *:not(:last-child){
  margin-right: 2rem;
}

.meetup__opinion-label {
  font-size: 1.1rem;
  margin-left: 2px;
}

.meetup__opinion-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .3rem;
  fill: var(--color-grey-dark-2);
}

.meetup__going-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 2px;
  fill: var(--color-white);
}

.icon-background-green {
  background-color: var(--color-green-light-1);
}

.icon-background-grey {
  background-color: var(--color-grey-dark-2);
}

.right-sidebar-nav {
  border: var(--line);
}

.right-sidebar-nav__item {
  list-style: none;
}

.right-sidebar-nav__item:not(:last-child) {
  border-bottom: var(--line);
}

.right-sidebar-nav__link {
  display: block;
  padding: 2rem 2rem;
  text-decoration: none;
  color: var(--color-grey-dark-2);
}

.right-sidebar-nav__link:hover,
.right-sidebar-nav__link:active {
  text-decoration: underline;
}

.meetup-banner {
  margin-top: 7rem;
  padding: 2rem 0;
  background-color: var(--color-white);
}
.meetup-banner .container{
  display: flex;
  justify-content: space-between;
}
.meetup-banner__location {
  display: flex;
  flex-direction: column;
}
.meetup-banner__time {
  margin-left: 1rem;
}
.event-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-status > *:not(:last-child){
  margin-bottom: 2rem;
}
.event-status__indicator > *:not(:last-child){
  margin-right: .5rem; 
}
.event-status__indicator-status {
  padding: .7rem 2rem;
}

.event-status__indicator-status {
  padding: .7rem 2rem;
}

.event-status__indicator-status:hover {
  background-color: var(--color-grey-dark-2);
  color: var(--color-grey-light-6);
}

.meetup-details__happening-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  fill: var(--color-grey-dark-2);
}

.meetup-details__img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.form-feedback > * {
  display: block;
}

.form-feedback__area {
  width: 100%;
  min-height: 8rem;
  margin-top: 0.5rem;
  padding: 1rem 1rem;
  border-radius: .4rem;
  transition: all .3s;
  resize: none;
  border: 1px solid var(--color-grey-dark-2);
  box-sizing: border-box;
}

.form-feedback__btn-container {
  display: flex;
  justify-content: flex-end;
}

.form-feedback__btn-container > *:not(:last-child) {
  margin-right: 1rem;
}

.form-feedback__btn {
  margin-top: 0.5rem;
  padding: .7rem;
  text-transform: capitalize;
  font-weight: 400;
}

.question-box {
  border-left: 1px solid var(--color-grey-dark-3);
}
.question-posted__on {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 1rem;
}
.question-box__votes {
  padding-top: .5rem;
  width: 8rem;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-box__main {
  padding-left: .5rem;
}
.question-box__comment {
  margin-left: 1.5rem;
}
.question-box__title {
  margin: .5rem 0 .7rem 0;
}
.question-box__comments {
  margin-bottom: .7rem;
}
.load-more-text {
  color: var(--color-blue-dark-1);
  cursor: pointer;
}
.load-more-text:hover, .load-more-text:active {
  text-decoration: underline;
}
.vote-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-3);
}